header nav ul li{
    display: inline-block;
    text-align :center;
    margin-right: 100px;
    padding-top: 1%;
    font-size: 25px;
    text-transform: uppercase;
}
 header h1{ 
    background-color: darkslategray;
    color:hsl(200, 95%, 55%)

     height: 100px; 
     margin-left: 0px;
    margin-top: 0% ;
    text-align :left ;
    padding-top: 50px;
    padding-left:20px; 
    color :whitesmoke ;

 }
 header nav ul li a {
    color: rgb(87, 26, 84);
text-decoration: none; 

 }
  footer p {
    background-color: darkslategray;
    color: whitesmoke
  } 
